akka {
    loglevel = INFO,
    loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]

    actor {
        provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
        deployment {
            /distributor {
                router = round-robin-group
                routees.paths = ["/user/worker"]
                cluster {
                    enabled = on
                    allow-local-routees = off
                    use-role = worker
                }
            }
        }
    }

    remote {
        dot-netty.tcp {
            hostname = localhost
            port = 4055
        }
    }

    cluster {
        seed-nodes = [
            "akka.tcp://MyCluster@localhost:4053"]
        roles = ["watchdog"]
        pub-sub.role = watchdog
        downing-provider-class = "Akka.Cluster.SplitBrainResolver, Akka.Cluster"
        split-brain-resolver {
            active-strategy = keep-referee
            stable-after = 3s
            keep-referee {
                address = "akka.tcp://MyCluster@localhost:4053"
                down-all-if-less-than-nodes = 1
            }
        }
        role.worker.min-nr-of-members = 1
    }

    extensions = ["Akka.Cluster.Tools.Client.ClusterClientReceptionistExtensionProvider, Akka.Cluster.Tools"]
}
