akka {
    loglevel=INFO,
    loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    
    actor { 
        provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
    }

    remote {
        dot-netty.tcp {
            hostname = localhost
            port = 0
        }
    }

    cluster {
        seed-nodes = [
            "akka.tcp://MyCluster@localhost:4053"]
        roles = ["worker"] 
    }
}
